.logo {
  color: #000;
  font-family: 'Raleway', sans-serif;
  font-size: 25.2px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.searchInputContainer {
  flex: 1 0 0;
}

.searchInputWrapper {
  background-color: #f0f0f0;
  color: rgba(0, 0, 0, 0.4);
  width: 100%;
}
